<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
    <style>
        /* Add CSS styling here */
        .header {
        text-align: center;
        color: #333;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f5f5f5;
        }

        h1 {
            color: #333;
        }

        form {
            margin-bottom: 20px;
        }

        input[type="text"] {
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 250px;
            margin-right: 10px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .quotes {
            list-style-type: none;
            padding: 0;
        }

        .quote {
            background-color: #fff;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .quote span {
            font-size: 16px;
            color: #333;
        }

        .quote button {
            padding: 5px 10px;
            font-size: 14px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 10px;
        }
    </style>
</head>
<header class="header">
    <h1 class="large-text">ATN SHOP</h1>
  </header>
<body>
    <h1>New Product</h1>

    <!-- (1): CREATE Task -->
    <form action="/quotes" method="POST" enctype="multipart/form-data">
        <input type="text" placeholder="Product's name" name="name" />
        <input type="text" placeholder="Price" name="quote" />
        <input type="file" placeholder="Image" name="image1" />

        <button type="submit">Submit</button>
    </form>
    
    <form action="/" method="GET">
        <input type="text" placeholder="Search by name" name="search" />
        <button type="submit">Search</button>
    </form>

    <% if (!req.query.search) { %>
    <!-- (2) READ Task -->
    <h2> All products </h2>
    <ul class="quotes">
        <!-- Loop through quotes -->
        <% quotes.forEach(quote => { %>
        <!-- Display quotes -->
        <li class="quote">
            <!-- Output name from the iterated quote object -->
            <span><%= quote.name %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= quote.quote %></span>
            <span><img src="/images/<%=quote.image1 %>" width="300px" height="200px"></span>
            <!-- Edit button -->
            <form action="/quotes/<%= quote._id %>/edit" method="GET">
                <button type="submit">Edit</button>
            </form>
            <!-- Delete button -->
            <form action="/quotes/<%= quote._id %>/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
        <% }) %>
    </ul>
    <% } else { %>
    <!-- Display search results -->
    <h2> Search Results </h2>
    <ul class="quotes">
        <!-- Loop through filtered quotes -->
        <% quotes.filter(quote => {
            return quote.name.toLowerCase().includes(req.query.search.toLowerCase());
        }).forEach(quote => { %>
        <!-- Display filtered quotes -->
        <li class="quote">
            <!-- Output name from the iterated quote object -->
            <span><%= quote.name %></span>:
            <!-- Output quote from the iterated quote object -->
            <span><%= quote.quote %></span>
            <span><img src="/images/<%=quote.image1 %>" alt="Product Image" width="300px" height="200px"></span>

            <!-- Edit button -->
            <form action="/quotes/<%= quote._id %>/edit" method="GET">
                <button type="submit">Edit</button>
            </form>
            <!-- Delete button -->
            <form action="/quotes/<%= quote._id %>/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
        <% }) %>
    </ul>
    <a href="/">All products</a>
    <% } %>
</body>

</html>
